body {
    .images {
        div,
        canvas {
            display: inline-block;
            vertical-align: top;
        }
        #point {
            width: 1px;
            height: 1px;
        }
    }
}